{% extends 'main/layout.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'main/css/anime.css' %}"/>
{% endblock %}
{% block title %}Человек-бензопила{% endblock %}
{% block content %}
    <section class="jumbotron" style="background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)),
            url({% static 'main/img/chainsawjumbotron.jpg' %}); background-size: cover;">
        <div class="container">
            <div class="row text-center">
                <h1 class="jumbo-welcome">Человек-бензопила</h1>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <img
                            class="anime-img"
                            src="{% static 'main/img/chainsaw.jpg' %}"
                            alt="chainsaw"
                    />
                </div>
                <div class="col-lg-7 col-md-7 col-xs-7">
                    <p class="description">
                        Дэндзи приходится полностью изменить свою жизнь, чтобы отработать непомерные долги отца. Он
                        становится подручным якудзы в нелегком деле уничтожения демонов. На второй план отошли не только
                        сон и отдых, а и общение с любимой девушкой. Только дьявольский питомец-помощник Почита вносит
                        немного разнообразия в череду кровавых будней.
                    </p>
                    <p class="description">
                        Теперь у Дэндзи лишь одна цель – деньги, только в них он видит шанс на освобождение. Желая
                        быстрей получить прибыль, парень забывает об осторожности и в одной из схваток погибает. Верный
                        Почито спасает хозяина, слившись с ним и дав способность частичного превращения в бензопилу.
                    </p>
                    <p class="description">
                        Переродившийся Дэндзи продолжает крушить врагов налево и направо, чем привлекает внимание Бюро
                        общественной безопасности. Теперь вместо якудзы ему приходится выполнять поручения
                        правительства. В этом он видит возможность возвращения к нормальной жизни, поэтому, не страшась,
                        выступает против самых могущественных противников. Но стоит ли так рьяно сокращать количество
                        демонов? Не накличет ли Дэндзи еще больших бед?
                    </p>
                    <p class="genres">Жанр: приключения, сёнэн, фентези, экшен</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}