{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главная{% endblock %}


{% block content %}
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h1 class="jumbo-welcome">Добро пожаловать на AniLost</h1>
            </div>
        </div>
    </section>
    <section class="main-content pb-5">
        <div class="container">
            <div class="row text-center">
                <h2 class="main-header">Аниме популярные сейчас</h2>
            </div>
            <div class="row pb-5">
            <div class="col-8 col-sm-8 col-md-8 col-xl-8"></div>
                <div class="figures">
                {% for el in page_obj %}
                <figure>
                    <a href="anime={{ el.id }}"><img src="{{ el.image.url }}" class="img-fluid"/></a>
                    <a href="anime={{ el.id }}"><figcaption>{{ el.name }}</figcaption></a>
                </figure>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation exame">
                <ul class="pagination justify-content-center mt-5">
                  {% for p in page_obj.paginator.page_range %}
                  <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                  {% endfor%}  
                </ul>
              </nav>
            </nav>
            </div>
        </div>
    </section>
{% endblock %}