{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главная{% endblock %}


{% block content %}
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h1 class="jumbo-welcome">Добро пожаловать на AniLost</h1>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container">
            <div class="row text-center">
                <h2 class="main-header">Аниме популярные сейчас</h2>
            </div>
            <div class="anime">
                <div class="figures">
                {% for el in animes %}
                <figure>
                    <a href="anime={{ el.id }}"><img src="{{ el.image.url }}"/></a>
                    <a href="anime={{ el.id }}"><figcaption>{{ el.name }}</figcaption></a>
                </figure>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}