{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Жанры{% endblock %}

{% block content %}
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h1 class="jumbo-welcome">AniLost</h1>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container">
            <div class="row text-center">
                <h1 class="main-header">Жанры</h1>
            </div>
            <div class="row m-2 pb-5">
                <div class="col">
                    {% for el in name %}
                    <ul>
                        <a href="jenres/"><li>{{ el.name_genre }}</li></a>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}