{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Жанры{% endblock %}

{% block content %}
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h1 class="jumbo-welcome">AniLost</h1>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container">
            <div class="row text-center">
                <h1 class="main-header">Жанры</h1>
            </div>
            <div class="row m-2 pb-5">
                <div class="col">
                    <ul>
                        <a href="jenres/action"><li>Боевик</li></a>
                        <a href="jenres/mysthic"><li>Мистика</li></a>
                        <a href="jenres/romantic"><li>Романтика</li></a>
                        <a href="jenres/everyday-life"><li>Повседневность</li></a>
                        <a href="jenres/comedy"><li>Комедия</li></a>
                        <a href="jenres/adventure"><li>Приключения</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}