{% extends 'main/layout.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'main/css/anime.css' %}"/>
{% endblock %}
{% block title %}Моб-психо 100{% endblock %}
{% block content %}
    <section class="jumbotron" style="background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)),
    url({% static 'main/img/mobjumbotron.jpg' %}); background-size: cover;">
        <div class="container">
            <div class="row text-center">
                <h1 class="jumbo-welcome">Моб-психо 100</h1>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <img
                            class="anime-img"
                            src="{% static 'main/img/mob.jpg' %}"
                            alt="Mob"
                    />
                </div>
                <div class="col-lg-7 col-md-7 col-xs-7">
                    <p class="description">
                        Человеческий мир заполонили разнообразные духи. Больше никого нельзя удивить присутствием
                        потустороннего создания. Новоявленные обитатели Земли ведут себя довольно дерзко. Они обожают
                        бедокурить и приносить вред. Чтобы приостановить деятельность невидимых существ, стали
                        появляться специальные люди, именуемые экстрасенсами. Они умеют ловко сражаться с монстрами и
                        отправлять их в привычную обстановку. Моб, или Шигэо Кагэяма – один из борцов с нечистью.
                    </p>
                    <p class="description">
                        Главный герой не суровый мужчина, а простой ученик восьмого класса, который с ранних лет поражал
                        окружающих своими уникальными способностями. Парнишка старается не использовать дар в
                        повседневности, чтобы не отвлекать от учебы одноклассников. Но больше всего ему не хочется
                        тревожить одну девушку, к которой питает нешуточную симпатию. После уроков, юноша совершенствует
                        свои таланты, занимаясь с местным ясновидящим, который в реальности является рядовым шарлатаном.
                        Хитрый мужчина сразу рассмотрел в мальчике перспективного деятеля и начал пользоваться его
                        умениями, зарабатывая немалые деньги.
                    </p>
                    <p class="genres">Жанр: комедия, повседневность, сверхестественное, экшен</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}