.jumbotron {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
}

.jumbo-welcome {
  color: white;
}

.main-content {
  background: black;
  padding-bottom: 40vh;
}

.description {
  color: aliceblue;
}

.genres {
  justify-content: center;
  padding-top: 3%;
  color: white;
}